* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}
header {
  display: flex;
  align-items: center;
  gap: 100px;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo p {
  font-size: 14px;
  color: gray;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin-right: 2rem;
}

ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #3f51b5;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

ul li a:hover {
  background-color: royalblue;
  color: white;
  border-radius: 6px;
  padding: 8px 12px;
}

ul li a i {
  margin-right: 5px;
}
hr {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 5);
  border: none;
  height: 1px;
  background-color: #e0e0e0;
}
.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
}
.content h3 {
  margin-left: 3rem;
  font-size: 2.4vw;
  font-weight: 700;
  font-family: Open Sans, sans-serif;
  color: #133443;
  line-height: 3rem;
  margin-bottom: 15px;
}
.content p {
  margin-left: 3rem;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  margin-bottom: 10px;
}
.content a {
  text-decoration: none;
  color: #055898;
  font-weight: 600;
}

.content a:hover {
  text-decoration: underline;
}

.btn {
  margin-left: 3rem;
  font-size: 20px;
  padding: 18px;
  background-color: #055898;
  color: white;
  border: none;
  width: 170px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 15px;
}
.btn:hover {
  background-color: #1c5f7e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 5);
}
.img-course {
  margin-left: 3rem;
  width: 1000px;
}
.container2 p {
  text-align: center;
  font-size: 28px;
  font-family: Open Sans, sans-serif;
  margin-top: 20px;
}
.cards-1 {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 20px;
  font-family: open sans, sans-serif;
}
.card p {
  font-size: 24px;
  margin-bottom: 10px;
}
.card span {
  font-size: 13px;
  color: gray;
}
.card {
  border: 0.5px solid black;
  border: none;
  padding: 15px;
  text-align: center;
  width: 750px;
  max-height: 850px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 7px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.cards-2 {
  margin: 0 auto;
  margin-top: 2rem;
  width: 400px;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-family: open sans, sans-serif;
}
footer {
  margin-top: 2rem;
  text-align: center;
  background-color: #055898;
  color: white;
  padding: 10px;
  line-height: 2rem;
  font-family: open sans, sans-serif;
}
